<>
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <title>marsic.dev</title>

    <!-- meta seo tags -->
    <meta name="title" content="marsic.dev" />
    <meta name="description" content="Software Engineer / Indie Consultant / Lecturer" />
    <meta
        name="keywords"
        content="Software Engineer, Indie Consultant, Lecturer, JavaScript, TypeScript, React, React Native, Node.js, GraphQL, AWS"
    />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="English" />
    <meta name="revisit-after" content="7 days" />
    <meta name="author" content="Marko Arsić" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- og meta seo tags -->
    <meta property="og:title" content="marsic.dev" />
    <meta property="og:description" content="Software Engineer / Indie Consultant / Lecturer" />
    <meta property="og:image" content="https://marsic.dev/assets/mdev-cover.png" />
    <meta property="og:url" content="https://marsic.dev" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="marsic.dev" />
    <meta property="og:locale" content="en_US" />

    <!-- twitter meta seo tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@marsic" />
    <meta name="twitter:creator" content="@marsic" />
    <meta name="twitter:title" content="Marko Arsić" />
    <meta name="twitter:description" content="Software Engineer / Indie Consultant / Lecturer" />
    <meta name="twitter:image" content="https://marsic.dev/assets/mdev-cover.png" />
</>
