---
// Supports weights 100-900
import "@fontsource-variable/montserrat"
import "@picocss/pico"
import "../styles/pico-bootstrap-grid.css"

import { ViewTransitions } from "astro:transitions"

import GlobalStyles from "@components/core/GlobalStyles.astro"
import MainNavigation from "@components/MainNavigation.astro"
import GlobalMeta from "@components/core/GlobalMeta.astro"
---

<html lang="en" data-theme="dark">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@2.33.0/tabler-icons.min.css" />
        <GlobalMeta />
        <GlobalStyles />
        <GlobalStyles />
        <ViewTransitions />
    </head>
    <body>
        <header class="container" style="padding: 2rem 0 !important;">
            <MainNavigation />
        </header>
        <main class="container">
            <slot />
        </main>
        <!-- <footer class="center" style="bottom: 0 !important;">
            <p>
                marsic.dev &copy; {new Date().getFullYear()}
            </p>
        </footer> -->
    </body>
</html>
