<div class="pagination clearfix mb1 mt4">
  <div class="left">
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <a class="pagination-item" href="{{ site.baseurl }}/">&lt; Newer</a>
      {% else %}
        <a class="pagination-item" href="{{ site.baseurl }}/page{{paginator.previous_page}}/">&lt; Newer</a>
      {% endif %}
    {% else %}
      <span class="pagination-item disabled">&lt; Newer</span>
    {% endif %}
  </div>
  <div class="right">
    {% if paginator.next_page %}
      <a class="pagination-item" href="{{ site.baseurl }}/page{{paginator.next_page}}/">Older &gt;</a>
    {% else %}
      <span class="pagination-item disabled">Older &gt;</span>
    {% endif %}
  </div>
</div>
