<div class="share-page">
  {{ site.share_text }}

  <div class="share-links">
    {% if site.share_facebook %}
      <a class = "fa fa-facebook ic fb" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook"> facebook</a>
    {% endif %}

    {% if site.share_twitter %}
      <a class="fa fa-twitter ic tw" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Twitter"> twitter</a>
    {% endif %}

    {% if site.share_googleplus %}
      <a class="fa fa-google-plus ic go" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+"> google+</a>
    {% endif %}

    {% if site.share_linkedin %}
      <a class="fa fa-linkedin ic in" href="http://www.linkedin.com/shareArticle?url={{ site.url }}{{ page.url }}&title={{ page.title }}" rel="nofollow" target="_blank" title="Share on LinkedIn"> linkedin</a>
    {% endif %}

    {% if site.share_digg %}
      <a class="fa fa-digg ic" href="http://digg.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}" rel="nofollow" target="_blank" title="Share on Digg"> digg</a>
    {% endif %}

    {% if site.share_tumblr %}
      <a class="fa fa-tumblr ic" href="http://www.tumblr.com/share/link?url={{ site.url }}{{ page.url }}&name={{ page.title }}" rel="nofollow" target="_blank" title="Share on Tumblr"> tumblr</a>
    {% endif %}

    {% if site.share_reddit %}
      <a class="fa fa-reddit ic" href="http://reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}" rel="nofollow" target="_blank" title="Share on Reddit"> reddit</a>
    {% endif %}

    {% if site.share_stumbleupon %}
      <a class="fa fa-stumbleupon ic" href="http://www.stumbleupon.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}" rel="nofollow" target="_blank" title="Share on StumbleUpon"> StumbleUpon</a>
    {% endif %}
  </div>
</div>
