---
import BaseLayout from "@layouts/BaseLayout.astro"
import { getEntry } from "astro:content"

const aboutEntry = await getEntry("info", "about")
const { Content, headings } = await aboutEntry.render()
---

<BaseLayout>
    <main>
        <h1>About Me</h1>
        <!-- <section class="center">
            <img src="/assets/mdev-logo1.png" alt="" />
        </section> -->
        <section>
            <Content />
        </section>
        <section class="center">
            <button style="width: 400px;">Let's work together</button>
        </section>
    </main>
</BaseLayout>
