---
import SocialBar from "@components/core/SocialBar.astro"
import Quote from "@components/ui/Quote.astro"
import BaseLayout from "@layouts/BaseLayout.astro"

import { getEntry } from "astro:content"

const aboutEntry = await getEntry("info", "profile")
const { Content } = await aboutEntry.render()
---

<BaseLayout>
    <Content />
    <Quote>
        I'm actively engaged in developing software solutions for the last 10+ years. Although I use a wide variety of
        technologies, my focus and expertise are web and mobile applications and for the last four years mostly React
        and React Native software packages. I like to say that my expertise is based on a combination of two things - a
        deep understanding of technology and experience on how it works in reality.
    </Quote>
    <section><SocialBar /></section>
</BaseLayout>
