---
import BaseLayout from "@layouts/BaseLayout.astro"
---

<BaseLayout>
    <main>
        <hgroup>
            <h2>Projects</h2>
            <h3>
                I always have ongoing side projects. I build some of them to learn a new language or stack, and others
                with the hope that I can monetize them.
            </h3>
        </hgroup>
    </main>
</BaseLayout>
