---
import BaseLayout from "@layouts/BaseLayout.astro"
---

<BaseLayout>
    <div class="center">
        <section class="center">
            <img src="/assets/mdev-logo1.png" alt="Not Found" />
        </section>
        <hgroup style="text-align: center;">
            <h2>Page not found</h2>
            <h3>Sorry, but the page you were trying to view does not exist.</h3>
        </hgroup>

        <a href="/">Go home</a>
    </div>
</BaseLayout>
