---
import SocialBar from "@components/core/SocialBar.astro"
import Heading from "@components/ui/Heading.astro"
import BaseLayout from "@layouts/BaseLayout.astro"
---

<BaseLayout>
    <Heading title="Get in touch" subtitle="The best way to reach me is by X DM" />
    <section>
        <SocialBar />
    </section>
</BaseLayout>
