<>
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <title>HypeTech Jobs</title>

    <!-- meta seo tags -->
    <meta name="title" content="HypeTech Jobs" />
    <meta name="description" content="Discover the world of hype tech jobs" />
    <meta
        name="keywords"
        content="hypetech, jobs, tech, hype, hype tech, hype tech jobs, hype jobs, tech jobs, hype tech jobs"
    />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="English" />
    <meta name="revisit-after" content="7 days" />
    <meta name="author" content="HypeTech Jobs" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- og meta seo tags -->
    <meta property="og:title" content="HypeTech Jobs" />
    <meta property="og:description" content="Discover the world of hype tech jobs" />
    <meta property="og:image" content="https://hypetechjobs.com/assets/htj-share.png" />
    <meta property="og:url" content="https://hypetechjobs.com" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="HypeTech Jobs" />
    <meta property="og:locale" content="en_US" />

    <!-- twitter meta seo tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@hypetechjobs" />
    <meta name="twitter:creator" content="@hypetechjobs" />
    <meta name="twitter:title" content="HypeTech Jobs" />
    <meta name="twitter:description" content="Discover the world of hype tech jobs" />
    <meta name="twitter:image" content="https://hypetechjobs.com/assets/htj-share.png" />
</>
