<div class="social-media">
    Find me online at &nbsp;&nbsp;
    <a href="https://twitter.com/mArsic" target="_blank" data-tooltip="X" rel="noopener noreferrer">
        <i class="ti ti-brand-x"></i>
    </a>
    <a href="https://www.linkedin.com/in/marsicdev" target="_blank" data-tooltip="LinkedIn" rel="noopener noreferrer">
        <i class="ti ti-brand-linkedin"></i>
    </a>
    <a href="https://www.instagram.com/marsic.dev" target="_blank" data-tooltip="Instagram" rel="noopener noreferrer">
        <i class="ti ti-brand-instagram"></i>
    </a>
    <a href="https://github.com/marsicdev" target="_blank" data-tooltip="GitHub" rel="noopener noreferrer">
        <i class="ti ti-brand-github"></i>
    </a>
</div>

<style>

    .social-media {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .social-media a {
        font-size: 2rem;
        margin: 0 0.5rem;
        text-decoration: none;
    }

    .social-media img {
        width: 2rem;
    }

    /* social media hover purple blue gradinet with scale  */
    .social-media a:hover {
        color: #a78bfa;
        transform: scale(1.1);
    }

    .social-media a:hover img {
        filter: drop-shadow(0 0 0.5rem #a78bfa);
    }
</style>
